.nav-bar {
    width: 100%;
}

.nav-bar a {

}

.nav-bar p {
    display: inline;
    float: right;
}

.intro-view {
    text-align: center;
}

.centered {
    margin: auto;
    width: 50%;
}

.question-view {
    display: none;
}

.completed-view {
    display: none;
}

.highscores-view {
    display: none;
}